*,
*::before,
*::after {
	box-sizing: border-box;
}
@font-face{
font-family:'Muller';
src:url('../font/Muller\ Regular.woff2') format(woff2),
url('../font/muller-medium.woff') format(woff);
font-display: swap;
font-weight: 400;
font-style: normal;
}
@font-face{
 font-family:'Muller' ;
 src:url('../font/muller-medium.woff2')format(woff2),
 url('../font/Muller\ Regular.woff')format(woff);
 font-display: swap;
 font-weight: 500;
 font-style: normal;
}
@font-face{
font-family:'Muller';
src:url('../font/Muller\ Bold.woff2') format(woff2),
url('../font/Muller\ Bold.woff') format(woff);
font-display: swap;
font-weight:700;
font-style: normal;
}
ul{
  list-style-type: none;
  
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Muller';
}
/* header*/
.header{
  max-width: 1110px;
  margin:0 auto;
}
.header-top{
 display: grid;
  align-items:center;
  grid-template-columns: auto 1fr auto;
  height: 88px;
}
.nav ul{
display: flex;
justify-content:center;
gap:57.8px;
}
.nav-link{
  font-weight:400;
  font-size:20px;
  line-height:100%;
  color:#121723;
  transition: 0.5s ease;
}
.search{
  margin-left:130px;
  transition: 0.5s ease;
}
.search:hover{
  path{
stroke: #AA9DFA;
  }
}
.search:active{
  path{
  stroke: #4F28A5;
  }
}
.nav-link:hover{
 color:#6D31EE;
}
.nav-link:focus{
  background-color: #AA9DFA;
  color:#fff;
}
.nav-link:active {
 color:#4F28A5;
 background-color: transparent;
}
/*hero */
.hero-last-item{
   padding-top:94px;
}
.hero-section{
    display: flex;
  gap:125px;
  max-width: 1110px;
  margin:0 auto;
  }
  .hero-active{
    display: flex;
    align-items: center;
  margin: 0;
  padding: 0;
  height: 61px;
  }
.hero-span{
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color:#121723;
}
.hero-p{
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color:#121723;
}
.hero-paragraph{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#121723;
  margin-top:0;
  width: 635px;
  margin-top:14px;
}
.hero-button{
  border: 1px solid #6D31EE;
  border-radius: 40px;
  padding: 25px 54px 25px 54px;
  background-color: #6D31EE;
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  margin-top:30px;
  transition: 0.4s ease;
}
.hero-button:hover{
  background-color: #AA9DFA;
}
.hero-button:focus-visible{
  border-color: 2px #4F28A5;
}
.hero-button:active{
  background-color: #4F28A5;
}
.mikrafon{
  width: 350px;
  height: 372px;
  margin-top: 38px;
}
/*Подкасты*/
.Podcasts-section{
 background-color: #D2D5DD;
 padding-bottom:94px;
}
.Podcasts{
  max-width:1110px;
  margin:0 auto;
}
.shows-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
}
.item {
  display: flex;
  gap: 15px;
  background: #f9f9f9;
  height: 140px;
    position: relative;  
}
.date {
  position: absolute;
  bottom: 1px;  
  background:#E6E8EC;
  color:#121723;
  font-size: 14px;
  padding: 2px 6px;
  margin: 0;      
}
.item img {
  width: 112px;
  height: 140px;
  display: block;
}
.span{
  font-weight: 400;
  font-size:12px;
  line-height: 100%;
  color:#121712
}
.Podcasts-title{
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color:#121712;
  margin:0;
  padding-top:15px;
}
.Podcasts-paragraph{
  font-weight: 400;
  font-size: 16px;
  color:#A1A6B4;
  margin:0;
}
.Podcasts-content{
  padding:15px 0;
}
.Podcasts-wrap{
  font-weight:400 ;
  font-size: 48px;
  color:#121723;
  padding-top:94px ;
}
/*Передачи*/
.broadcast {
  width: 1110px;
  margin: 0 auto;
 
   padding-top: 100px;
  padding-bottom: 70px;
}
.title-main{
 font-weight: 400;
 font-size:48px;
 line-height: 100%;
 color:#121723;
 margin:-20px;
 padding-top:20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr; 
  gap: 20px;
  align-items: start;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  height: 100%;
}
.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mic{
  width:65px ;
  height: 89px;
}
.content-title{
 font-weight: 500; 
  font-size: 20px; 
  line-height: 100%; 
  margin: 0; 
  color: #121712;
}
.content{
  padding:20px 0 20px 16px; 
}
.body-text{
  font-weight: 400; 
  font-size: 12px; 
  line-height: 100%; 
  color:#A1A6B4;
  padding-top:4px;
  padding-bottom:20px;
}

.archive-btn{
 width:160px;
 height:40px;
 border: 2px solid #121723;
 border-radius: 77px;
 font-weight: 500;
 font-size: 16px;
 line-height: 100%;
 margin-top:25px;
}
.archive-text{
  font-weight: 400; 
  font-size:16px; 
  line-height: 150%; 
  color:#A1A6B4; 
  white-space: normal; 
  width: 255px; 
}
.card {
  background: #f9f9f9; 
  border: 1px solid #E6E8EC; 
}
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.main-span{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color:#121712; 
  cursor: pointer;
  transition: 0.3s ease;
}
.main-span:hover{
 color:#6D31EE;
}
.main-span:focus-visible{
  background-color: #AA9DFA;
  color:#fff;
 }
 .main-span:active{
  color: #4F28A5;
 }
 .main-span:hover path{
  fill:#6D31EE;
 }
.main-span:focus path{
  fill:#fff;
}
.main-span:active path{
  fill:#4F28A5;
}
/*Гости*/
.stay-section{
  background-color: #121723;
  padding-top: 90px;
  padding-bottom: 80px;
}
.stay{
  max-width:1110px;
  margin:0 auto;
}
.stay-contant{
  display:flex;
  flex-wrap: wrap;
  gap:50px;
  margin-top:50px;
}
.stay-last-item{
  display:flex;
}
.stay-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#fff;
  margin:0;
}
.stay-span{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color:#A1A6B4;
}
.stay-paragraph{
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color:#A1A6B4;
}
.stay-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}
.stay-wrap{
  font-weight: 400;
  line-height: 180%;
  font-size: 16px;
  color:#A1A6B4;
  margin-bottom: 88px;
}
.stay-item{
  padding-left:30px;
}
.stay-button{
  border:2px solid #AA9DFA;
  border-radius: 77px;
  padding:17px 43px 17px 43px;
  background-color: #121723;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #AA9DFA;
  transition: 0.3s ease;
}
.stay-button:hover{
  background-color: #AA9DFA;
  color: #fff;
}
.stay-button:focus{
  background-color: #6D31EE;
  color: #fff;
}
.stay-button:active{
  background-color: #4F28A5;
  color: #fff;
}
/* Плейлисты*/
.playlist-section{
  max-width: 1110px;
  margin:0 auto;
  display:flex;
  padding-top:108px;
  padding-bottom:94px;
}
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 20px;
}
.playlist-item{
 background-color: #f9f9f9;   
  border: 1px solid #E6E8EC;  
}
.playlist-span{
  padding:16px 16px;
}
.playlist-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  margin:0;
  padding-bottom: 4px;
}
.playlist-paragraph{
   font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #A1A6B4;
  margin: 0;
}
.playlist-item img {
  width: 160px;
  height: 160px;
  object-fit: cover; 
}
.w-wave{
  font-weight: 400;
  color:#A1A6B4;
  font-size:16px;
  line-height:22px;
  margin:0;
}
.p{
font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color:#A1A6B4;
  width: 350px;
}
.p-18{
  width:30px;
  height: 30px;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
  padding:7px;
  font-weight: 400;
  font-size:12px;
  color:#A1A6B4;
  margin:0;
}
/*home*/
.reklam-last-item{
max-width: 1110px;
margin: 0 auto;
    display: flex;               
  align-items: center;        
  justify-content: center;     
  gap: 40px;                  
  padding: 40px;
  padding-top: 90px;
  padding-bottom: 120px;
}
.reklam-section{
background-color: #292E39;
}
.reklam-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#F0D288;
  margin-top:5px;
}
.reklam-p{
  line-height: 180%;
  font-size: 16px;
  font-weight: 400;
  color:#fff;
  margin: 0;
}
.reklam-text{
  font-weight: 500;
  font-size: 30px;
  line-height: 100px;
  color: #fff;
}
 .yandex-go {
  display: flex;
  align-items: center; 
  width: 300px;
  height: 70px;
  border:2px solid #F0D288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F0D288;
  background-color: #292E39;
  cursor: pointer;
  gap:5px;
  transition: 0.5s ease;
}
.yandex-go:hover{
  background-color: #F0D288;
  color:#121723;
  svg{
  #back{
    fill:#121723;
}
   #line{
    fill:#F0D288;
   }
}
}
.yandex-go:focus{
  border-color:#F0D288;
  background-color: #BB973E;color:#121723;
  svg{
  #back{
    fill:#F0D288;
}
   #line{
     fill:#121723;
   }
}
}
.yandex-go:active{
  background-color: #BB973E;
  color:#121723;
  svg{
  #back{
    fill:#121723;
}
   #line{
    fill:#BB973E;
   }
}
}
.yandex-img{
  padding-left:5px;
  transition: 0.5s ease;
}

.radio-wrap{
  position: relative;
  display: inline-block;
}
.radio{
  display:block;
  width: 640px;
}
.label{
  position: absolute;
  top:10px;
}
.home-vector{
  width: 400px;
}
/*О нас*/
.About-section{
  background-color: #121723;
}
.wraper{
  width: 1110px;
  margin:0 auto;
  padding-top: 80px;
  padding-bottom: 94px;
}
.About-wrap{
  display: flex;
}
.About-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#fff;
  margin:0;
}
.About-span{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color:#A1A6B4;
}
.About-p{
  font-weight: 400;
  font-size:20px;
  line-height: 160%;
  color:#A1A6B4;
}
.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 361px;
  margin-bottom:30px;
}
.divider-img {
  width: 255px;
  height: 255px;
}
.line{
  display:flex;
  gap:30px;
  padding-top:10px;
}
.contant-2{
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  padding-top:10px;
  padding-bottom:5px;
}
.meta{
  font-weight: 400;
  font-size: 16px;
  line-height:24px;
  margin:0;
  color:#A1A6B4;
}
textarea{
  border:1px solid #fff;
  border-radius: 30px;
  width: 920px;
  height: 150px;
  padding:30px 10px 10px 32px;
  background-color: #121723;
  margin-left:10px;
  font-size:20px;
  font-weight: 400;
  color:#A1A6B4;
  margin-bottom:30px;
}
.row  input {
  width: 445px;
  height: 70px;
  border:2px solid #fff;
  border-radius: 40px;
  padding:10px 10px 10px 32px;
  font-weight: 400;
  font-size: 20px;
  color: #A1A6B4;
  background-color: #121723;
  gap:30px;
  margin-left:10px;
  transition: 0.5s ease;
}
.form-sumbit{
 display: flex;
 flex-wrap: wrap;
}
.form-button{
  height:70 ;
  border:1px solid #6D31EE;
  border-radius: 40px;
  padding:25px 54px 25px 54px;
  background-color: #6D31EE;
  margin-left:10px;
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  margin-top: 15px;
}
.checkbox-area {
  display: flex;
  align-items: center; 
  gap: 8px;      
  margin-top: 30px;     
}
.list{
  font-weight: 500;
  font-size:12px;
  color:#fff;
}
.row input:hover,
textarea:hover{
  background-color: #A1A6B4;
}
.row input:focus{
  border-color:#AA9DFA;
}
.row input:focus,
textarea:focus{
  border-color: #AA9DFA;
  outline: none;
}
.row input:not(:placeholder-shown),
textarea:not(:placeholder-shown){
  color:#fff;
}
input[type="email"]:invalid:not(:placeholder-shown) {
  border: 2px solid red;
  background-color: #121723;
}
/*footer*/
.footer{
  background-color: #292E39;  
  padding-top:70px;
}
.footer-last-item{
  max-width: 1110px;
  margin:0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding-bottom: 100px;
}
.footer-left {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 15px;
  padding-top:20px;
}
.footer-icons {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-icons li {
  display: flex;
  align-items: center;
}
.footer-icons {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrap{
  display: flex;
}
.footer-wrap{
  font-size: 16px;
  color:#fff;
  gap:60px;
  line-height: 180%;
}
.vector-img{
  margin:0 auto;
}
.footer-vector{
  width: 100%;
}
.W-Wave{
font-weight:400;
font-size:16px;
color:#A1A6B4;
line-height: 103%;
text-align: center;
}
.footer-img:hover{
  path{
  fill:#6D31EE;
  }
}
.footer-img:focus{
  path{
    fill:#AA9DFA;
  }
}
.footer-img:active{
  path{
    fill:#4F28A5;
  }
}
.footer-img{
transition: 0.5s ease;
}
.footer-wrap:hover{
 color:#6D31EE;
}
.footer-wrap:focus{
  background-color: #AA9DFA;
  color:#fff;
}
.footer-wrap:active {
 color:#4F28A5;
 background-color: transparent;
}
@media (max-width: 1024px) {
  .header-top{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
       "logo search"
       "nav nav";
  }
  .nav{
    grid-area: nav;
    border-top:1px solid #E6E8EC;
    border-bottom:1px solid #E6E8EC;
  }
  .nav ul{
  text-align: left;
  justify-content: flex-start;
  }
  .logo{
    grid-area: logo;
  }
  .search{
    grid-area: search;
    margin-left:190px;
  }
  .hero-section{
    gap:5px;
  }
  .hero-paragraph{
    width: 539px;
  }
  .mikrafon{
    width: 155px;
    height: 212px;
    margin-top: 50px;
  }
  .shows-grid{
    display:grid;
    grid-template-columns: 1fr;
    width:540px;
  }
  .right-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card img{
    width:255px;
    height:148px;
  }
  .right-side{
    width:540px;
  }
  .playlist-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}