
*,
*::before,
*::after {
	box-sizing: border-box;
}
@font-face{
font-family:'Muller';
src:url('../font/MullerRegularItalic.woff2') format(woff2),
url('../font/MullerRegularItalic.woff') format(woff);
font-display: swap;
font-weight: 400;
font-style: normal;
}
@font-face{
 font-family:'Muller' ;
 src:url('../font/muller-medium.woff2')format(woff2),
 url('../font/Muller\ Regular.woff')format(woff);
 font-display: swap;
 font-weight: 500;
 font-style: normal;
}
@font-face{
font-family:'Muller';
src:url('../font/Muller\ Bold\ \(1\).woff2') format(woff2),
url('../font/Muller\ Bold\ \(1\).woff') format(woff);
font-display: swap;
font-weight:700;
font-style: normal;
}
ul{
  list-style-type: none;
  
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Muller';
}
/* header*/
.header{
  max-width: 1110px;
  margin:0 auto;
}
.header-top{
  display: grid;
  align-items:center;
  grid-template-columns: auto 1fr auto;
  height: 88px;
}
.nav ul{
display: flex;
justify-content:center;
gap:57.8px;
}
.nav-link{
  font-weight:400;
  font-size:20px;
  line-height:100%;
  color:#121723;
  transition: 0.5s ease;
}
.search{
  margin-left:130px;
  transition: 0.5s ease;
}
.search:hover{
  path{
stroke: #AA9DFA;
  }
}
.search:active{
  path{
  stroke: #4F28A5;
  }
}
.nav-link:hover{
 color:#6D31EE;
}
.nav-link:focus{
  background-color: #AA9DFA;
  color:#fff;
}
.nav-link:active {
 color:#4F28A5;
 background-color: transparent;
}
/*hero */
.hero-last-item{
  padding-top:94px;
}
.hero-section{
  display: flex;
  gap:125px;
  max-width: 1110px;
  margin:0 auto;
  }
.hero-active{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 61px;
  gap:10px;
  }
.hero-span{
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color:#121723;
}
.hero-p{
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color:#121723;
}
.hero-paragraph{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color:#121723;
  margin-top:0;
  max-width: 635px;
  margin-top:14px;
}
.hero-button{
  border: 1px solid #6D31EE;
  border-radius: 40px;
  padding: 25px 54px 25px 54px;
  background-color: #6D31EE;
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  margin-top:30px;
  transition: 0.4s ease;
}
.hero-button:hover{
  background-color: #AA9DFA;
}
.hero-button:focus-visible{
  border-color: 2px #4F28A5;
}
.hero-button:active{
  background-color: #4F28A5;
}
.mikrafon{
 max-width: 350px;
  height: 372px;
  margin-top: 38px;
}
/*Подкасты*/
.podcasts-section{
  background-color: #D2D5DD;
  padding-bottom:94px;
}
.podcasts{
  max-width:1110px;
  margin:0 auto;
}
.shows-grid {
  display: grid;
  grid-template-columns:repeat(2, 1fr); 
  gap: 30px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background: #f9f9f9;
  height: 140px;
  position: relative;  
}
.date {
  position: absolute;
  bottom: 0px;  
  background:#E6E8EC;
  color:#121723;
  font-size: 14px;
  padding: 2px 6px;
  margin: 0;      
}
.item img {
  max-width: 112px;
  height: 140px;
  display: block;
}
.span{
  font-weight: 400;
  font-size:12px;
  line-height: 100%;
  color:#121712
}
.podcasts-title{
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color:#121712;
  margin:0;
}
.podcasts-paragraph{
  font-weight: 400;
  font-size: 16px;
  color:#A1A6B4;
  margin:0;
}
.podcasts-content{
  padding:15px 0;
}
.podcasts-wrap{
  font-weight:400 ;
  font-size: 48px;
  color:#121723;
  padding-top:94px ;
}
/*Передачи*/
.broadcast {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 100px;
}
.title-main{
  font-weight: 400;
  font-size:48px;
  color:#121723;
  margin:-20px;
  padding-top:20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr; 
  gap: 30px;
  align-items: start;
}
.left-side {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  gap: 16px; 
  height:100%;
}
.right-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.mic{
  max-width:65px ;
  height: 89px;
}
.content-title{
 font-weight: 500; 
  font-size: 20px; 
  line-height: 100%; 
  margin: 0; 
  color: #121712;
}
.content{
  padding:5px 0 15px 20px; 
}
.body-text{
  font-weight: 400; 
  font-size: 12px; 
  line-height: 100%; 
  color:#A1A6B4;
  padding-top:4px;
  margin:0;
  padding-bottom:10px;
}
.archive-btn{ 
  width:160px;
  height:40px;
  border: 2px solid #121723;
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.archive-text{
  font-weight: 400; 
  font-size:16px; 
  line-height: 150%; 
  color:#A1A6B4; 
  white-space: normal; 
  max-width: 255px; 
  margin:0;
}
.card {
  background: #f9f9f9; 
  border:1px solid #e4e4e4;
  max-width:255px;
  height: 260px;
}
.card img {
 max-width: 255px;
  height:148px;
  margin-bottom: 10px;
}
.main-span{
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color:#121712; 
  cursor: pointer;
  transition: 0.3s ease;
}
.main-span:hover{
 color:#6D31EE;
}
.main-span:focus-visible{
  background-color: #AA9DFA;
  color:#fff;
 }
 .main-span:active{
  color: #4F28A5;
 }
 .main-span:hover path{
  fill:#6D31EE;
 }
.main-span:focus path{
  fill:#fff;
}
.main-span:active path{
  fill:#4F28A5;
}
/*Гости*/
.guests-section{
  background-color: #121723;
  padding-top: 90px;
  padding-bottom: 80px;
}
.guests{
  max-width:1110px;
  margin:0 auto;
}
.guests-contant{
  display:flex;
  flex-wrap: wrap;
  gap:40px;
  margin-top:55px;
}
.guests-last-item{
  display:flex;
}
.guests-last-item img{
  max-width: 432px;
  height:272px;
}
.guests-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#fff;
  margin:0;
}
.guests-span{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color:#A1A6B4;
  margin:0;
  padding-top:15px;
}
.guests-paragraph{
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color:#A1A6B4;
  padding-top:8px;
  margin: 0;
  max-width: 825px;
}
.guests-text{
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  margin:0;
}
.guests-wrap{
  font-weight: 400;
  line-height: 180%;
  font-size: 16px;
  color:#A1A6B4;
 padding-bottom: 70px;
  max-width: 458px;
  margin:0;
}
.guests-item{
  padding-left:30px;
}
.guests-button{
  border:2px solid #AA9DFA;
  border-radius: 77px;
  padding:17px 43px 17px 43px;
  background-color: #121723;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #AA9DFA;
  transition: 0.3s ease;
}
.guests-button:hover{
  background-color: #AA9DFA;
  color: #fff;
}
.guests-button:focus{
  background-color: #6D31EE;
  color: #fff;
}
.guests-button:active{
  background-color: #4F28A5;
  color: #fff;
}
/* Плейлисты*/
.playlist-section {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding-top: 110px;
  padding-bottom: 105px;
}
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex: 1;
}
.playlist-item {
  background: #f9f9f9;
  border: 1px solid #E6E8EC;
  display: flex;
  flex-direction: column;
  max-width:160px;
  height:224px;
}
.playlist-item img {
  max-width: 160px;
  height: 160px;
  object-fit: cover;
}
.playlist-span {
  padding:16px 16px;
}
.playlist-title{
  font-weight: 400;
  font-size:48px;
  line-height: 100%;
  color:#121723;
  margin:0;
}
.p{
font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color:#A1A6B4;
  max-width: 350px;
  margin:0;
}
.w-wave{
  font-weight: 400;
  color:#A1A6B4;
  font-size:16px;
  line-height:22px;
  margin:0;
}
.p-18{
 max-width:30px;
  height: 30px;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
  padding:7px;
  font-weight: 400;
  font-size:12px;
  color:#A1A6B4;
  margin:0;
}
.playlist-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  margin:0;
  padding-bottom: 4px;
}
.playlist-paragraph{
   font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #A1A6B4;
  margin: 0;
}
/*home*/
.reklam-last-item{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;               
  align-items: center;        
  justify-content: center;     
  gap: 40px;                  
  padding-top: 90px;
  padding-bottom: 140px;
}
.reklam-section{
background-color: #292E39;
}
.reklam-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#F0D288;
  margin-top:5px;
  max-width: 441px;
}
.reklam-p{
  line-height: 180%;
  font-size: 16px;
  font-weight: 400;
  color:#fff;
  margin: 0;
  max-width: 445px;
}
.reklam-text{
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
  margin:0;
  padding-top: 35px;
  padding-bottom: 40px;
}
 .yandex-go {
  display: flex;
  align-items: center; 
  width: 300px;
  height: 70px;
  border:2px solid #F0D288;
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #F0D288;
  background-color: #292E39;
  cursor: pointer;
  gap:5px;
  transition: 0.5s ease;
}
.yandex-go:hover{
  background-color: #F0D288;
  color:#121723;
  svg{
  #back{
    fill:#121723;
}
   #line{
    fill:#F0D288;
   }
}
}
.yandex-go:focus-visible{
   border: 2px solid #F0D288; 
  background-color: #BB973E;
  color: #121723;
  outline: 0;
  svg{
  #back{
    fill:#F0D288;
}
   #line{
     fill:#121723;
   }
}
}
.yandex-go:active{
  background-color: #BB973E;
  border:none;
  color:#121723;
  svg{
  #back{
    fill:#121723;
}
   #line{
    fill:#BB973E;
   }
}
}
.yandex-go svg{
  margin-left:5px;
  transition: 0.5s ease;
}
.radio-wrap{
  position: relative;
  display: inline-block;
}
.radio{
  display:block;
  max-width: 640px;
  height: 562px;
}
.label{
  position: absolute;
  top:10px;
}
.home-vector{
  width: 400px;
}
/*О нас*/
.about-section{
  background-color: #121723;
}
.vector{
  display:none;
}
.wraper{
 max-width: 1110px;
  margin:0 auto;
  padding-top: 90px;
  padding-bottom: 110px;
}
.about-wrap{
  display: flex;
}
.about-title{
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color:#fff;
  margin:0;
}
.about-span{
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color:#A1A6B4;
  max-width:632px;
}
.about-p{
  font-weight: 400;
  font-size:20px;
  line-height: 160%;
  color:#A1A6B4;
}
.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 255px;
  height: 361px;
  margin-bottom:30px;
}
.divider-img {
  min-width: 255px;
  height: 255px;
}
.line{
  display:flex;
  gap:30px;
  padding-top:25px;
}
.form{
  padding-top:35px;
}
.contant-2{
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  padding-top:10px;
  padding-bottom:5px;
}
.meta{
  font-weight: 400;
  font-size: 16px;
  line-height:24px;
  margin:0;
  color:#A1A6B4;
}
textarea{
  border:1px solid #fff;
  border-radius: 30px;
  min-width: 920px;
  height: 150px;
  padding:30px 10px 10px 32px;
  background-color: #121723;
  margin-left:10px;
  font-size:20px;
  font-weight: 400;
  color:#A1A6B4;
  margin-bottom:30px;
}
.row  input {
  min-width: 445px;
  height: 70px;
  border:2px solid #fff;
  border-radius: 40px;
  padding:10px 10px 10px 32px;
  font-weight: 400;
  font-size: 20px;
  color: #A1A6B4;
  background-color: #121723;
  gap:30px;
  margin-left:10px;
  transition: 0.5s ease;
}
.form-sumbit{
 display: flex;
 flex-wrap: wrap;
}
.form-button{
  height:70 ;
  border:1px solid #6D31EE;
  border-radius: 40px;
  padding:25px 54px 25px 54px;
  background-color: #6D31EE;
  margin-left:10px;
  font-weight: 500;
  font-size: 20px;
  color:#fff;
  margin-top: 15px;
}
.container {
  display: block;
  padding-top:10px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color:#fff;
  font-weight: 500;
  line-height:100%;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
 width: 14px;
  background-color: #121723; 
  border: 2px solid #fff;    
}
.container:hover input ~ .checkmark {
 background-color: #1a1f30; 
}
.container input:checked ~ .checkmark {
  background-color: #121723; 
  margin-top:10px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 3px;
  top: 1px;
  max-width: 6px;
  height: 10px;
  border: solid #AA9DFA; 
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.row input:hover,
textarea:hover{
  background-color: #A1A6B4;
}
.row input:focus{
  border-color:#AA9DFA;
}
.row input:focus,
textarea:focus{
  border-color: #AA9DFA;
  outline: none;
}
.row input:not(:placeholder-shown),
textarea:not(:placeholder-shown){
  color:#fff;
}
input[type="email"]:invalid:not(:placeholder-shown) {
  border: 2px solid red;
  background-color: #121723;
}
/*footer*/
.footer{
  background-color: #292E39;  
  padding-top:70px;
  padding-bottom:15px;
}
.footer-last-item{
  max-width: 1110px;
  margin:0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding-bottom:40px;
}
.footer-left {
  display: flex;
  flex-direction: column; 
  gap: 15px;
}
.footer-icons {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-icons li {
  display: flex;
  align-items: center;
}
.footer-icons {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-wrap{
  display: flex;
}
.footer-wrap{
  font-size: 16px;
  color:#fff;
  gap:60px;
  line-height: 180%;
  padding-bottom:10px;
}
.vector-img{
  margin:0 auto;
}
.footer-vector{
  max-width: 100%;
}
.W-Wave{
  font-weight:400;
  font-size:16px;
  color:#A1A6B4;
  line-height: 103%;
  margin:0;
  text-align: center;
}
.footer-img:hover{
  path{
  fill:#6D31EE;
  }
}
.footer-img:focus{
  path{
    fill:#AA9DFA;
  }
}
.footer-img:active{
  path{
    fill:#4F28A5;
  }
}
.footer-img{
transition: 0.5s ease;
}
.footer-wrap:hover{
 color:#6D31EE;
}
.footer-wrap:focus{
  background-color: #AA9DFA;
  color:#fff;
}
.footer-wrap:active {
 color:#4F28A5;
 background-color: transparent;
}
.site-footer{
  display: none;
}

@media(max-width: 1024px) {

  .header-top{ 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    grid-template-areas: "logo search" "nav nav"; 
    height:140px;
  }
  .header {
  max-width: none;     
  margin: 0 auto;       
  margin: 0 60px;      
  box-sizing: border-box; 
}
  .nav{ 
    grid-area: nav; 
    border-top:1px solid #E6E8EC; 
    border-bottom:1px solid #E6E8EC; 
  }
  .nav ul{ text-align: left; 
    justify-content: flex-start; 
    gap:100px; 
  }
  .logo{ 
    grid-area: logo; 
    padding:0;
    max-width:113px;
    margin:30px;
  }
  .search{ 
    grid-area: search; 
    margin-left: 350px;
  }
  /*her-section*/
  .hero-section{
    gap:5px;
    max-width:823px;
    margin:0 auto;
  }
  .hero-last-item{
    padding-top:90px;
  }
  .hero-paragraph{
    max-width:539px;
  }
  .mikrafon{
    padding-top:90px;
  }
  .hero-button{
    margin:0;
  }
  /*Podcasts-section*/
  .podcasts-section{
    padding-bottom: 90px;
  }
  .podcasts{
    max-width: 823px;
    margin: 0 auto;
  }
  .Podcasts-wrap{
    padding-top:85px;
  }
  .item{
    max-width:396px;
    height: 140px;
  }
  /*Broadcast*/
  .broadcast{
    max-width: 823px;
    margin:0 auto;
    padding-bottom:95px;
  }
  .right-side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:30px;
  }
  .grid-container{
    gap:30px;
  }
  .card img{
    max-width:255px;
    height:148px;
  }
  .right-side{
    max-width:540px;
  }
  .left-side{
    height:97%;
  }
/*guests*/
.guests-section{
  padding-bottom: 85px;
}
.guests{
  max-width:823px;
  margin:0 auto;
}
.guests-text{
  margin:0;
}
.guests-contant{
  margin-top:47px;
  gap:50px;
}
.guests-paragraph{
  max-width:536px;
}
.guests-last-item img{
  max-width: 432px;
  height: 272px;
}
.guests-wrap{
  max-width: 362px;
  padding-bottom:30px;
}
.guests-span{
  margin:0;
  padding-top:12px;
}
/*playlist-section*/
.playlist-section{
  flex-direction: column;
  max-width: 823px;
  margin:0 auto;
  padding-top:100px;
  padding-bottom:95px;
}
.playlist-item{
  flex:1 1 calc(33.333%-20px);
  flex-direction: row;
  align-items: center;
  max-width:254px;
  height:112px;
}
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex: 1;
}
.playlist-item img{
  max-width:112px;
  height:112px;
}
.p{
  max-width:100%;
}
/*reklam-section*/
.reklam-last-item{
  max-width: 823px;
  margin:0 auto;
  padding-bottom:90px;
}
.radio{
  max-width: 397px;
  height: 400px;
}
.reklam-p{
  max-width:397px;
}
.label{
  max-width:100px;
}
/*About-section*/
.wraper{
  max-width:823px;
  margin:0 auto;
}
.about-span{
  margin:0;
  padding-top:10px;
}
.about-p{
  max-width:539px;
  margin:0;
  padding-top:5px;
}
.about-img{
  display: none;
}
.about-us{
  min-width: 255px;
  height: 255px;
}
.line{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
  justify-items: center;
  padding-top:35px;
padding-bottom: 25px;
}
.divider{
  max-width:397px;
  height:337px;
  margin:0;
}
.divider-img{
  min-width: 397px;
  height: 255px;
}
textarea{
  min-width:824px;
  height: 150px;
}
.form-button{
  margin-top:30px;
}
.row input{
  min-width:397px;
  height:70px;
}
.footer-last-item{
  max-width: 823px;
  margin:0 auto;
}
}

@media(max-width:768px){
  .header-top{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
       "logo search"
       "nav nav";
  }
  .header {
  max-width: 85%;       
  max-width: none;      
  margin: 0  60px;     
  box-sizing: border-box; 
}
  .nav{
   grid-area: nav;
   border-top:1px solid #E6E8EC;
   border-bottom:1px solid #E6E8EC;
  }
  .nav ul{
   text-align: left;
   justify-content: flex-start;
   gap:50px;
  }
  .nav-link{
    font-size: 16px;
  }
  .logo{
    grid-area: logo;
    padding:0;
    margin: 33px;
    max-width: 113px;
    height: 14px;
  }
  .search{
    grid-area: search;
    max-width:195px;
    margin-left: 150px;
  }
  /*hero-section*/
  .hero-section{
    max-width: 540px;
    margin: 0 auto;
}
.hero-last-item{
padding-top:90px;
}
.hero-button{
  margin:0;
}
.mikrafon{
  display: none;
}
.hero-paragraph{
  max-width: 539px;
}
/*Podcasts*/
.podcasts-wrap{
  padding-top:85px;
}
.podcasts{
  max-width:540px;
  margin:0 auto;
}
.shows-grid{
  grid-template-columns: 1fr;
}
.item{
  max-width: 540px;
  height: 140px;
}
/*Broadcas*/
.broadcast{
  max-width:540px;
  margin:0 auto;
  padding-bottom: 40px;
}
.grid-container{
  display: flex;
  flex-direction: column-reverse;
}
.right-side{
  grid-template-columns: repeat(2, 1fr);
  padding-bottom:60px ;
  padding-top:150px;
  gap:30px;
  border-bottom: 1px solid #e4e4e4;
}
.left-side {
  flex-direction: row;   
  width: 450px;
  gap:20px;
  }
.archive-btn{
  margin:0;
}
/*guests*/
.guests-section{
  padding-bottom:85px;
  }
.guests-button{
  width:160px;
  height: 40px;
  padding:0;
}
.guests{
  max-width: 540px;
  margin:0 auto;
}
.guests-last-item{
  display:flex;
  flex-wrap:wrap;
}
.guests-wrap{
  max-width: 362px;
  padding-bottom:30px ;
  margin:0;
}
.guests-last-item img{
  min-width: 540px;
  height:340px
}
.guests-item{
  padding:0;
  margin-top:50px;
}
.guests-contant{
  padding-top:50px;
  margin:0;
  gap:40px;
}
/*playlist-section*/
.playlist-section {
   flex-direction: column; 
   max-width: 540px;
   margin: 0 auto;
   padding-bottom: 100px;
   padding-top:90px;
  }
 .playlist-grid {
   grid-template-columns: repeat(2, 1fr); 
   gap:30px;
  }
  .playlist-title{
    margin:0;
  }
  .playlist-item {
    flex-direction: row;      
    align-items: center;
    gap: 16px;
  }
  .p{
    margin:0;
    max-width: 539px;
    padding-top:15px;
  }
  .playlist-item img {
    max-width: 112px;
    height: 112px;
    flex-shrink: 0;         
  }
  .playlist-span {
    padding: 0;              
  }
/*reklam-section*/
.reklam-last-item{
  max-width: 540px;
  margin:0 auto;
  display: flex;
  flex-wrap:wrap;
  padding-top:55px;
  padding-bottom: 95px;
}
.reklam-p{
  max-width: 540px;
}
.radio{
  max-width:540px;
  height: 474px;;
}
.reklam-title{
  max-width:441px;
}
.reklam-text{
  margin:0;
  padding-top:70px;
}
/*About-section"*/
 .wraper{
   max-width:540px;
   margin:0 auto;
   padding-top:90px;
  }
 .about-wrap{
   display:flex;
   flex-wrap:wrap;
  }
  .about-p{
    max-width: 540px;
   }
 .line {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   justify-items: center; 
   padding-top:35px;
   padding-bottom:25px;
  }
  .about-us{
    min-width:112px;
    height:112px;
  }
  .about-img{
    display:none;
  }
 .vector{
    display:block;
    max-width:70%;
  }
  .divider {
    max-width:255px;
  }
  .divider-img {
    min-width: 255px; 
    height: 255px;
  }
 textarea{
   min-width:540px;
   height: 150px;
 }
 .row{
   display: flex;
   flex-wrap:wrap;
   gap:25px;
 }
 .row input{
   min-width: 540px;
 }
 .form-button{
  margin-top:30px;
 }
 /*footer*/
 .footer-last-item {
   flex-direction: column; 
   align-items: center; 
   text-align: center;
   gap: 40px;
   max-width:540px;
   margin:0 auto;
   padding-bottom: 25px;
  }
 .footer-left {
   align-items: center; 
   padding-top:10px;
  }
 .footer-wrap {
   display: flex;
   flex-direction: row;   
   justify-content: center;
   gap: 150px;
   padding-top:25px;
  }
  .footer-wrap ul {
    padding: 0;
    margin: 0;
  }
}

@media(max-width:360px){
  .header {
  max-width:350px;            
  box-sizing: border-box; 
  padding:0;
  margin:5px;
}
  .header-top {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "logo search"
      "nav nav";
    grid-template-rows: auto auto;
    height:55px;
  }
  .logo {
    grid-area: logo;
    max-width: 87px;
    height: 10px;
    margin:20px;

  }
  .search {
    grid-area: search;
    justify-self: end;
    margin-left: 100px;
    max-width:24px;
    height:24px
  }
  .nav {
    grid-area: nav;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    margin: 0;
  }
   .nav ul li:nth-child(n+4) {
    display: none; 
}
  .nav ul{
    gap:24px;
   height:16px;
   width:80%;
}
.nav-link{
  font-size: 16px;
  margin:0;
}
/*hero*/
.hero-section{
  max-width: 256px;
  margin:0 auto;
}
.hero-paragraph{
  max-width:256px;
  margin: 0;
  font-size: 14px;
}
.hero-last-item{
  padding-top: 40px;
  padding-bottom: 10px;
}
.hero-span{
  font-size: 32px;
}
.hero-p{
  font-size: 32px;
}
.mikrafon{
  display: none;
}
.hero-button{
  margin-top: 15px;
  width: 200px;
  height: 50px;
  padding: 0;
}
/*podcasts*/
.podcasts-section{
  margin-top: 30px;
  padding-bottom: 54px;
}
.podcasts{
  max-width:256px;
  margin:0 auto;
}
.podcasts-wrap{
  font-size: 24px;
  padding-top: 54px;
}
.shows-grid {
    grid-template-columns: 1fr; 
    gap: 30px;
  }
.item {
  flex-direction: column; 
  align-items: flex-start;
  max-width: 256px;
  height: 185px;
  margin: 0 auto;
 }
.item img {
  min-width: 256px;
  height: 72px;
  object-fit: cover; 
  }
  .podcasts-content {
    padding: 10px;
  }
  .podcasts-title {
    font-size: 16px;
  }
  .podcasts-paragraph {
    font-size: 14px;
  }
 .date {
    bottom: auto;
    top: 0;
    right: 0;
  }
 /*brodcast*/
 .broadcast{
   max-width: 256px;
   margin:0 auto;
   padding-bottom:55px;
}
.title-main{
  font-size:24px;
  padding:0;
}
.grid-container{
  display: flex;
  flex-direction: column-reverse;
  padding-top:40px;
}
.right-side{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom:40px;
}
.left-side {
  flex-direction: row;   
  align-items: flex-start; 
  justify-content: center;
  gap: 12px;
 }
.left-side .archive {
  display: flex;
  flex-direction: column-reverse; 
  max-width: 200px;
  gap: 8px;
  }
.content{
  padding:0 5px;
}
.content-title{
  font-size:12px;
}
.body-text{
  font-size: 9px;
}
.mic{
  width: 77px;
  height: 105px;
}
.main-span{
  font-size: 12px;
  color:#6D31EE;
}
.card{
  max-width:113px;
  height:150px;
}
.p{
  max-width:256px;
}
.card img{
  min-width:113px;
  height:50px
}
.archive-btn{
  width:110px;
  height: 35px;
  margin-top:7px;
}
.archive-text{
  font-size: 14px;
  max-width:166px;
}
/*guests*/
.guests-section{
  padding-top:54px;
  padding-bottom:50px;
}
.guests{
 max-width: 256px;
  margin: 0 auto;
}
.guests-paragraph{
  max-width: 256px;
  font-size: 14px;
  margin:0;
}
.guests-contant{
  margin-top: 30px;
  gap:20px;
}
.guests-title{
  font-size: 24px;
}
.guests-last-item{
  display: flex;
  flex-wrap: wrap;
}
.guests-last-item img{
  min-width:256px;
  height: 159px;
}
.guests-wrap{
  margin:0;
  padding-bottom: 30px;
}
.guests-button{
  width: 150px;
  height: 35px;
  padding:0;
}
.guests-item{
  padding:0;
  margin-top:30px;
}
.guests-span{
  max-width:256px;
  margin:0;
}
/*playlist*/
 .playlist-section {
  max-width: 256px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding-top: 110px;
  padding-bottom: 105px;
}
.playlist-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
}
.playlist-item {
  background: #f9f9f9;
  border: 1px solid #E6E8EC;
  display: flex;
  flex-direction: column;
  max-width:113px;
  height:159px;
}
.playlist-item img {
  max-width: 113px;
  height: 113px;
  object-fit: cover;
}
.playlist-title{
 font-size:24px;
}
.p{
 max-width:256px;
  font-size:12px;
  line-height:16px;
  padding-top:12px;
}
.playlist-span{
  padding:10px 16px;
}
.playlist-text{
  font-size: 12px;
  padding:0;
}
.playlist-paragraph{
  font-size:9px;
}
.playlist-span{
  padding:0;
}
/*reklam*/
.reklam-last-item{
  max-width:256px;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  padding-top: 54px;
  padding-bottom:55px;
}
.label{
  max-width: 62px;
}
.reklam-title{
  font-size: 24px;
}
.reklam-p{
  max-width: 256px;
  font-size: 14px;
  padding-top: 5px;
  line-height: 160%;
}
.radio{
  max-width:256px;
  height: 231px;
}
.reklam-vector{
  width:254px;
}
.yandex-go{
  max-width:256px;
  height: 50px;
  font-size: 12px;
}
.reklam-text{
  font-size:24px;
  padding-top:15px;
  padding-bottom:20px;
}
/*About-section*/
.wraper{
  max-width:256px;
  margin:0 auto;
  padding-top: 54px;
  padding-bottom:40px;
}
.about-title{
  font-size: 24px;
}
.about-span{
  font-size:14px;
  padding-top:15px;
}
.about-p{
  font-size: 14px;
  line-height: 150%;
  margin:0;
  padding-top:5px;
  max-width: 256px;
}
.line{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 40px;
  gap: 3px;
}
.about-img{
  display:none;
}
.about-us{
  display:none;
}
.divider-img{
  min-width: 113px;
  height:113px
}
.divider{
  min-width: 113px;
  height: 214px;
}
.meta{
  font-size: 12px;
  line-height: 16px;
}
.contant-2{
  padding: 0;
  font-size: 14px;
}
textarea{
  min-width:256px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.row{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
}
.row input{
  min-width:256px;
  height:50px;
  gap:20px;
}
.form-button{
  padding:0;
  width:172px;
  height:50px;
  margin-top: 30px;
}
.checkbox-area{
  margin: 0;
}
/*footer*/
.footer{
  display:none;
}
.site-footer{
  display: block;
}
.footer-logo {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  text-align: center;
  padding-top: 54px;
  padding-bottom: 60px;
  background-color: #292E39;
}
.footer-item{
  font-size: 12px;
  color:#fff;
  gap:60px;
  line-height: 200%;
  padding-bottom:10px;
}
.lists {
  background: #121723; 
  display: flex;
  gap: 40px;
  padding-top: 5px;
  padding-bottom:55px;
}
.footer-icons {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  gap: 15px;
}
.footer-icons li {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-vector{
  background-color:#292E39 ;
}
}
